# shellcheck shell=bash
layout node

# You can define your system-specific logic (like Git settings or GH tokens) in .envrc.local
# If that logic is usable by other people and might improve development environment, consider
# contributing it to this file ♥

watch_file .envrc.local

if [[ -f .envrc.local ]]; then
	# shellcheck source=/dev/null
	source .envrc.local
fi

if [[ -z "${SKIP_NIX:-}" ]] && has nix; then

	if nix flake metadata &>/dev/null && has use_flake; then
		# use flakes if possible
		use flake

	else
		# Otherwise fall back to pure nix
		use nix
	fi

fi
