.direnv/
.github/
.vscode/
.vscode-test/
bin/
out/**
src/**
test/**
result
*.lock
*.nix
.editorconfig
.envrc
.eslintcache
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/.prettierrc.json
**/*.map
**/*.ts
