name: Build extension

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v17

      - name: Set artifact name
        run: |
          PROJECT_NAME="${GITHUB_REPOSITORY#*/}"
          case "$GITHUB_REF_TYPE" in
          branch) PROJECT_VERSION="${GITHUB_SHA:0:7}" ;;
          tag) PROJECT_VERSION="${GITHUB_REF_NAME:1}" ;;
          esac
          echo "artifact_name=$PROJECT_NAME-$PROJECT_VERSION.vsix" >> "$GITHUB_ENV"

      - name: Build
        run: |
          nix build --print-build-logs
          cp result ${{ env.artifact_name }}

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: direnv-vscode.vsix
          path: ${{ env.artifact_name }}
